<div class="row" *ngIf="!isCreateView">
  <div class="col-12">
    <div class="row">
      <div class="col-12 text-end">
        <button class="btn btn-success" (click)="addNew()">Add New</button>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Emp Code</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone No</th>
          <th>Designation</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
         <tr *ngFor="let emp of employeeList">
            <td>{{emp.empCode}}</td>
            <td>{{emp.empName}}</td>
            <td>{{emp.empEmailId}}</td>
            <td>{{emp.mobile}}</td>
            <td>{{emp.empDesignation}}</td>
            <td>{{emp.role}}</td>
            <td>
              <button class="btn btn-success" (click)="onEdit(emp.empId)">Edit</button>
              <button class="btn btn-danger ml-2" (click)="onDelet(emp.empId)">Delete</button>
            </td>
         </tr>
      </tbody> 
    </table>
  </div>
</div>
<div class="row" *ngIf="isCreateView">
  <div class="col-12">
    <div class="row">
      <div class="col-12 text-end">
        <button class="btn btn-success" (click)="isCreateView = false">Go TO List View</button>
      </div>
    </div>
    <div class="progress-wrapper">
      <div id="progress-bar-container">
        <ul>
          <li class="step step01" (click)="setActiveStep(step)"
            [ngClass]="step.stepName == activeStep.stepName ? 'active':''" *ngFor="let step of stepsList">
            <div class="step-inner">{{step.stepName}}</div>
          </li>
        </ul>
        <div id="line">
          <div id="line-progress" [style.width.%]="stepperCompletionValue"></div>
        </div>
        <!-- progress-bar-container -->
        <div id="progress-content-section">
          <div class="section-content step1 active" *ngIf="activeStep.stepName == 'Basic Details'">
            <div class="contaner-fluid">
              <div class="row">
                <div class="form-group text-start col-md-4">
                  <label>Name :</label>
                  <input type="text" [(ngModel)]="employeeObj.empName" placeholder="Enter Name" class="form-control">
                </div>
                <div class="form-group text-start col-md-4">
                  <label>Email :</label>
                  <input type="text" [(ngModel)]="employeeObj.empEmailId" placeholder="Enter Email"
                    class="form-control">
                </div>
                <div class="form-group text-start col-md-4">
                  <label>Password :</label>
                  <input type="password" [(ngModel)]="employeeObj.password" placeholder="Enter Password"
                    class="form-control">
                </div>
              </div>
              <div class="row pb-2">
                <div class="form-group text-start col-md-2">
                  <label>Designation :</label>
                  <select class="form-select" [(ngModel)]="employeeObj.empDesignationId">
                    <option value="">Select Deisgnation</option>
                    @for (item of designationList; track $index) {
                    <option [value]="item.designationId"> {{item.designation}}</option>
                    }
                  </select>
                </div>
                <div class="form-group text-start col-md-2">
                  <label>Role :</label>
                  <select class="form-select" [(ngModel)]="employeeObj.roleId">
                    <option value="">Select Deisgnation</option>
                    <option *ngFor="let item of roleList" [value]="item.roleId"> {{item.role}}</option>
                  </select>
                </div>
                <div class="form-group text-start col-md-3">
                  <label>Contact No :</label>
                  <input type="text" [(ngModel)]="employeeObj.empContactNo" placeholder="Enter Contact No"
                    class="form-control">
                </div>
                <div class="form-group text-start col-md-3">
                  <label>Alternate Contact No :</label>
                  <input type="text" [(ngModel)]="employeeObj.empAltContactNo" placeholder="Alternate Contact No."
                    class="form-control">
                </div>
                <div class="form-group text-start col-md-3">
                  <label>Personal Email ID :</label>
                  <input type="text" [(ngModel)]="employeeObj.empPersonalEmailId" placeholder="Enter Personal EmailID"
                    class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h6>Experience</h6>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="form-group text-start col-md-3">
                  <label>Total Years :</label>
                  <input type="text" [(ngModel)]="employeeObj.empExpTotalYear"
                    placeholder="Enter total Years of Experience" class="form-control">
                </div>
                <div class="form-group text-start col-md-3">
                  <label>Total Month :</label>
                  <input type="text" [(ngModel)]="employeeObj.empExpTotalMonth" placeholder="Enter month of Experience"
                    class="form-control">
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-6">
                  <h6>Current Address</h6>
                  <hr>
                  <div class="row">
                    <div class="form-group text-start col-md-4">
                      <label>City :</label>
                      <input type="text" [(ngModel)]="employeeObj.empCity" placeholder="Enter City"
                        class="form-control">
                    </div>
                    <div class="form-group text-start col-md-4">
                      <label>State :</label>
                      <input type="text" [(ngModel)]="employeeObj.empState" placeholder="Enter State"
                        class="form-control">
                    </div>
                    <div class="form-group text-start col-md-4">
                      <label>Pin Code :</label>
                      <input type="text" [(ngModel)]="employeeObj.empPinCode" placeholder="Enter Pincode"
                        class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group text-start col-md-12">
                      <label>Address :</label>
                      <textarea placeholder="Enter Address" [(ngModel)]="employeeObj.empAddress"
                        class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <h6>Permanent Address</h6>
                  <hr>
                  <div class="row">
                    <div class="form-group text-start col-md-4">
                      <label>City :</label>
                      <input type="text" [(ngModel)]="employeeObj.empPerCity" placeholder="Enter City"
                        class="form-control">
                    </div>
                    <div class="form-group text-start col-md-4">
                      <label>State :</label>
                      <input type="text" [(ngModel)]="employeeObj.empPerState" placeholder="Enter State"
                        class="form-control">
                    </div>
                    <div class="form-group text-start col-md-4">
                      <label>Pin Code :</label>
                      <input type="text" [(ngModel)]="employeeObj.empPerPinCode" placeholder="Enter Pincode"
                        class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group text-start col-md-12">
                      <label>Address :</label>
                      <textarea placeholder="Enter Address" [(ngModel)]="employeeObj.empPerAddress"
                        class="form-control"></textarea>
                    </div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-12 text-end">
                  <button class="btn btn-primary" (click)="gotoStep2()">Next</button>
                </div>
              </div>
            </div>
          </div>
          <div class="section-content step2 active" *ngIf="activeStep.stepName == 'Skills'">

            <div class="contaner-fluid">
              <div class="form-group text-start mt-2" id="tblSkill">
                <div class=" ">
                  <div class="row">
                    <div class="col-6">
                      <h5> Skills </h5>
                    </div>
                    <div class="col-6 text-end">
                      <button class="btn btn-sm btn-info" (click)="addSkills()">Add</button>
                    </div>
                  </div>

                  <div id="table-container">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Skill Name</th>
                          <th>Total Experience</th>
                          <th>Last Version</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let skill of employeeObj.erpEmployeeSkills">
                          <td>
                            <input type="text" [(ngModel)]="skill.skill" placeholder="Skill" class="form-control">
                          </td>
                          <td>
                            <input type="text" [(ngModel)]="skill.totalYearExp" placeholder="Total Experience"
                              class="form-control">
                          </td>
                          <td>
                            <input type="text" [(ngModel)]="skill.lastVersionUsed" placeholder="Last Version"
                              class="form-control">
                          </td>

                          <td class="btn-container">
                            <button class="btn btn-sm btn-success"><i class="fa fa-save"></i>
                              Save</button>
                            <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>Delete</button>
                          </td>
                        </tr>

                      </tbody>
                      <tfoot>
                      </tfoot>
                    </table>
                    <div class="btn-container d-flex justify-content-end">

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-end">
                <button class="btn btn-primary" (click)="gotoStep3()">Next</button>
              </div>
            </div>
          </div>
          <div class="section-content step3 active" *ngIf="activeStep.stepName == 'Experience'">
            <div class="contaner-fluid">
              <div class="form-group text-start mt-2" id="tblExperience">
                <div class=" ">
                  <div class="row">
                    <div class="col-6">
                      <h5>Experience</h5>
                    </div>
                    <div class="col-6 text-end">
                      <button class="btn btn-sm btn-info" (click)="addExp()">Add</button>
                    </div>
                  </div>
                  <div id="table-container">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Company</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Designation</th>
                          <th>Project</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let exp of employeeObj.ermEmpExperiences">
                          <td>
                            <input type="text" [(ngModel)]="exp.companyName" class="form-control "
                              placeholder="Company">
                          </td>
                          <td>
                            <input type="date" [(ngModel)]="exp.startDate" class="form-control"
                              placeholder="Start Date">
                          </td>
                          <td>
                            <input type="date" [(ngModel)]="exp.endDate" class="form-control" placeholder="End Date">
                          </td>
                          <td>
                            <input type="text" [(ngModel)]="exp.designation" class="form-control"
                              placeholder="Designation">
                          </td>
                          <td>
                            <input type="text" [(ngModel)]="exp.projectsWorkedOn" class="form-control"
                              placeholder="Project">
                          </td>

                          <td class="btn-container">
                            <button class="btn btn-sm btn-success"><i class="fa fa-save"></i>
                              Save</button>
                            <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>Delete</button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-end">
                <button class="btn btn-success" *ngIf="employeeObj.empId !== 0" (click)="updateEmployee()">Update Employee</button>
                <button class="btn btn-primary" *ngIf="employeeObj.empId === 0" (click)="saveEmployee()">Save Employee</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>